<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="background-gradient">
        <div class="header">

        </div>
        <div class="login">
            <div class="form-container">
                <h1 style="width: 50%; margin: auto; text-align: center;">BIENVENIDO</h1>
                <form class="form">
                    <div class="mb-3">
                        <label for="">Correo</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>

                    <button type="submit" class="btn">INICIAR SESIÓN</button>
                    <p>No tienes cuenta? <a href="">Registrate</a></p>
                </form>
            </div>
        </div>
    </body>
</html>

<!-- <router-outlet></router-outlet> -->