.jugadorDiv {
    width: 80%;
    height: 50px;
    margin: auto;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    font-size: 24px;
    border-radius: 15px;
    background-color: #343a64;
    color: white;
}

.nombre {
    width: 20%;
    text-align: center;
    border-right: solid black 1px;
}
.nivel {
    width: 20%;
    text-align: center;
    border-right: solid black 1px;
}
.experiencia {
    width: 20%;
    text-align: center;
    border-right: solid black 1px;
}
.puntuacion {
    width: 20%;
    text-align: center;
    border-right: solid black 1px;
}
.acciones {
    width: 20%;
    text-align: center;
}

.acciones button{
    margin: 5px;
}