<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="super-contenedor">
        <div class="llama"></div>
    
        <div class="contenedor">
            <div class="text">
                <h1>Favor de ingresar tu nombre de usuario</h1>
            </div>
            <form (submit)="onSubmit()">
                <input type="text" placeholder="Nombre de usuario" [(ngModel)]="nombre" name="codigo" id="codigo" class="form-control" >
                <button  class="btn">Registrar</button>
            </form>
        </div>
    </div>

</body>
</html>