.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #3498db; /* Cambia este color según tus preferencias */
  animation: spin 1s linear infinite;
  position: relative;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}