<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="super-contenedor">
        <div class="llama"></div>
    
        <div class="contenedor">
            <h1>Verifica tu identidad</h1>
            <div class="text">
                <h4>Se ha enviado un código de 6 digitos a tu correo</h4>
                <h4>Introducelo para verificar que eres tu</h4>
            </div>
            <form (submit)="onSubmit(codigo.value)">
                <input type="text" placeholder="Ingrese el codigo: ######" name="codigo" id="codigo" class="form-control" #codigo>
                <div class="alert alert-warning mt-2" *ngIf="message" style="width: 50%; margin: auto;">
                    {{ message }}
                </div>
                <button  class="btn">Verificar</button>
            </form>
        </div>
    </div>

</body>
</html>