<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <form (submit)="guardarRecompensa()">
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="recompensa.tipo" required>
          </div>

          <div class="form-group">
            <label for="xp">XP</label>
            <input type="number" class="form-control" id="xp" name="xp" [(ngModel)]="recompensa.xp" required>
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
