<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <app-navbar></app-navbar>
        <div class="contenedor">
            <div class="usuario">
                <h1 class="username">Bienvenido {{ user.data.name }}</h1>
                <div class="datosJugador">
                    <div class="nivel">
                        <h3>Tu nivel: {{ jugador.nivel }}</h3>
                    </div>
                    <div class="experiencia">
                        <h3>Experiencia: {{ jugador.experiencia }} </h3>
                    </div>
                    <div class="puntuacion">
                        <h3>Puntuacion: {{ jugador.puntuacion }}</h3>
                    </div>
                </div>
            </div>
            <h3>MISIONES</h3>
            <div *ngFor="let mision of misiones" class="misiones">
                <h3>Nombre {{ mision.nombre }}</h3>
                <p>Tipo: {{ mision.tipo }}</p>
                <p>Recompensa: {{ mision.recompensa_xp }}xp</p>
                <p>item: {{ mision.recompensa_items }}</p>
            </div>

            <h3 *ngIf="user.data.role_id == 2">AMIGOS</h3>
            <div>
                <div *ngFor="let amigo of amigos" class="amigos">

                </div>
            </div>

        </div>
</body>
</html>