<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <app-navbar [titulo]="'Dashboard'"></app-navbar>
        <div class="contenedor">
            <div class="alert alert-info alert-dismissible fade show mt-2" role="alert" *ngIf="user.data.role_id == 3">
                Para encontrar a otros jugadores contactate con el administrador
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="usuario" *ngIf="user.data.role_id != 1">
                <h1 class="username">Bienvenido {{ user.data.name }}</h1>
                <div class="datosJugador">
                    <div class="nivel">
                        <h3>Tu nivel: {{ jugador.nivel }}</h3>
                    </div>
                    <div class="experiencia">
                        <h3>Experiencia: {{ jugador.experiencia }} </h3>
                    </div>
                    <div class="puntuacion">
                        <h3>Puntuacion: {{ jugador.puntuacion }}</h3>
                    </div>
                </div>
            </div>
            <div class="encabezado">
                <h3>MISIONES</h3> 
                <div class="contenedor-link">
                    <a routerLink="/ver-misiones">Ver mas...</a>
                </div>
            </div>
            <div *ngFor="let mision of misiones" class="misiones">
                <h3>Nombre {{ mision.nombre }}</h3>
                <p>Tipo: {{ mision.tipo }}</p>
                <p>Recompensa: {{ mision.recompensa.xp }}xp</p>
            </div>

            <h3 *ngIf="user.data.role_id == 2">AMIGOS</h3>
            <div>
                <div *ngFor="let amigo of amigos" class="amigos">
                    <h3>{{ amigo.amigo.name }}</h3>
                    <p>Nivel: {{ amigo.estadisticas.nivel }}</p>
                    <p>Puntuacion: {{ amigo.estadisticas.puntuacion }}</p>
                </div>
            </div>
            <h3 *ngIf="user.data.role_id == 1">USUARIOS</h3>
            <div>
                <div *ngFor="let amigo of amigos" class="amigos">

                </div>
            </div>

            <div class="encabezado">
                <h3>HEROES</h3> 
                <div class="contenedor-link">
                    <a routerLink="/ver-misiones">Ver mas...</a>
                </div>
            </div>
            <div>
                <div *ngFor="let heroe of heroes" class="heroes">
                    <h4>{{ heroe.nombre }}</h4>
                    <p>Rareza: {{ heroe.rareza }}</p>
                    <p>Tipo: {{ heroe.tipo }}</p>
                </div>
            </div>

            <div class="encabezado">
                <h3>CLAN</h3> 
                <div class="contenedor-link">
                    <a routerLink="/ver-clanes">Cambiar de clan</a>
                </div>
            </div>
            <div>
                <div *ngIf="user.data.role_id == 2" class="heroes">
                </div>
            </div>

        </div>
</body>
</html>