<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-container">
          <form (submit)="guardarInventario()">
            <div class="form-group">
              <label for="user_id">ID de Usuario</label>
              <input type="number" class="form-control" id="user_id" name="user_id" >
            </div>
  
            <div class="form-group">
              <label for="armas_id">ID de Arma</label>
              <input type="number" class="form-control" id="armas_id" name="armas_id" >
            </div>
  
            <div class="form-group">
              <label for="heroes_id">ID de Héroe</label>
              <input type="number" class="form-control" id="heroes_id" name="heroes_id" >
            </div>
  
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  